### ENVS TO USE APP

### APP
PROJECT_NAME=micro-backend
PORT=3444

### DATABASE RELATED
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_NAME=backend_database_postgres
DATABASE_POSTGRES_HOST=database_postgres
DATABASE_POSTGRES_USER=postgres
DATABASE_POSTGRES_PASSWORD=postgres1234
DATABASE_POSTGRES_SYNCHRONIZE=false
DATABASE_POSTGRES_LOGGING=true
DATABASE_POSTGRES_TIMEZONE=Z

### DATABASE TEST E2E RELATED
DATABASE_POSTGRES_TEST_E2E_PORT=5432
DATABASE_POSTGRES_TEST_E2E_NAME=backend_database_postgres_test_e2e
DATABASE_POSTGRES_TEST_E2E_HOST=database_postgres
DATABASE_POSTGRES_TEST_E2E_USER=postgres
DATABASE_POSTGRES_TEST_E2E_PASSWORD=postgres1234
DATABASE_POSTGRES_TEST_E2E_SYNCHRONIZE=false
DATABASE_POSTGRES_TEST_E2E_LOGGING=false
DATABASE_POSTGRES_TEST_E2E_TIMEZONE=Z

### MONGO DB
DATABASE_MONGO_PORT=27017
DATABASE_MONGO_HOST=database_mongo
DATABASE_MONGO_USERNAME=mongo
DATABASE_MONGO_PASSWORD=mongo1234
MONGO_URI=mongodb://database_mongo:27017/backend_database_mongo

### MONGO DB TEST E2E
MONGO_URI_TEST_E2E=mongodb://database_mongo:27017/backend_database_mongo_test_e2e

### CACHE - REDIS
CACHE_REDIS_HOST=cache_redis
CACHE_REDIS_PORT=6379

### QUEUE RABBITMQ
QUEUE_RABBITMQ_PORT=5672
QUEUE_RABBITMQ_MANAGEMENT_PORT=15672
QUEUE_RABBITMQ_USER=backend-worker
QUEUE_RABBITMQ_PASS=backendworker123
QUEUE_RABBITMQ_HOST=queue_rabbitmq

### SONARQUBE
SONAR_HOST_URL=http://sonarqube:9000
SONAR_TOKEN=
SONAR_PROJECT_KEY=backend-worker
SONAR_ADMIN_PASSWORD=admin
SONAR_ADMIN_NEW_PASSWORD=f8G$2qR9!zV7mLp3sYt4

### Fortify
FORTIFY_BUILD_ID=backend-worker
FORTIFY_OUTPUT=fortify-report.fpr
FORTIFY_SSC_URL=https://fortify.seuservidor.com
FORTIFY_SSC_TOKEN=seu-token-fortify
